@tailwind base;
@tailwind components;
@tailwind utilities;
.main1 {
  background-image: "vb.jpg";
}
body {
  /* background-color: #4158d0; */
  background-image: linear-gradient(
    25deg,
    #4158d0 0%,
    #c850c0 26%,
    #ffcc70 100%
  );
}
